/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/chat/ChatScreen.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.ChatScreen_globalReset__Aoi4P html,
.ChatScreen_globalReset__Aoi4P body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.ChatScreen_chatContainer__aRMIV {
  width: 100%;
  height: 100dvh;
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #fdf4e3;
  font-family: Arial, sans-serif;
  font-size: 20px;
  position: relative;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.ChatScreen_header__NPhe4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fafafa;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
}

.ChatScreen_title__F8Q6q {
  font-size: 28px;
  font-weight: bold;
}

.ChatScreen_menuButton__YL7g8 {
  font-size: 28px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.ChatScreen_chatBox__shqDn {
  flex: 1 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: #efefef;
}

.ChatScreen_messageWrapper__Ha6Pk {
  display: flex;
  margin-bottom: 1rem;
}

.ChatScreen_right__ud3L1 {
  justify-content: flex-end;
}

.ChatScreen_left__HhfAd {
  justify-content: flex-start;
}

.ChatScreen_messageBubble__sNDGB {
  max-width: 70%;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.ChatScreen_right__ud3L1 .ChatScreen_messageBubble__sNDGB {
  background-color: #DCF7C5;
  align-items: flex-end;
}

.ChatScreen_left__HhfAd .ChatScreen_messageBubble__sNDGB {
  background-color: #FAFAFA;
  align-items: flex-start;
}

.ChatScreen_messageText__by2AC {
  font-size: 18px;
  color: #000;
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
}

.ChatScreen_messageTime__atMbZ {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  text-align: right;
}

.ChatScreen_inputArea__Hc4vr {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.ChatScreen_micButton__PRwwo,
.ChatScreen_sendButton__X3GaI {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.ChatScreen_micButton__PRwwo {
  background-color: #EC8305;
  margin-right: 0.5rem;
}

.ChatScreen_sendButton__X3GaI {
  background-color: #024CAA;
  margin-left: 0.5rem;
}

.ChatScreen_inputField__VE1L9 {
  flex: 1 1;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  height: 35px;
}

.ChatScreen_recordingPopup__V518B {
  position: absolute;
  bottom: 110px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffcccc;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  font-size: 22px;
  z-index: 10;
}

@media (max-width: 768px) {
  .ChatScreen_chatContainer__aRMIV {
    border-radius: 0;
    box-shadow: 0 0 0 0;
    max-width: 100%;
    width: 100%;
  }

  .ChatScreen_header__NPhe4 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
  }

  .ChatScreen_inputArea__Hc4vr {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
